body{
    background-color: bisque;
}

.outer-box{
    text-align: center;
    background-color: rgba(0, 1, 1, 0.114);
    margin: 0px 345px 50px 345px;
    padding: 30px 225px 30px 225px;
    border-radius: 30%;
    height: 50%;
    width: 55%;
}

.inner-box{
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
    padding-top: 10px;
    text-align: center;
}

label{
    font-family: papyrus;
    font-size:  1.25rem;

}
.submit{
    background-color: green; 
    border-radius: 20%;
    height: 50%;
    width: 30%;
} 

h2{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-family: papyrus;
    /* background-color: aliceblue; */

}
.children{
    padding-left: 3rem;
    padding-bottom: 15rem;
    height: 1rem;
    width: 3rem;
    /* background-color: aqua; */
}